{%load static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Smart Production Systems</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{%static 'css/coin-slider.css'%}" />
<script type="text/javascript" src="{%static 'js/cufon-yui.js'%}"></script>
<script type="text/javascript" src="{%static 'js/droid_sans_400-droid_sans_700.font.js'%}"></script>
<script type="text/javascript" src="{%static 'js/jquery-1.4.2.min.js'%}"></script>
<script type="text/javascript" src="{%static 'js/script.js'%}"></script>
<script type="text/javascript" src="{%static 'js/coin-slider.min.js'%}"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">

      <div class="logo">
        <h1><a href="index.html">Smart Production <span>Systems</span></a></h1>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li><a href="{%url 'UserHome'%}"><span>Home Page</span></a></li>
          <li><a href="{%url 'UserPcaAnalysis'%}"><span>PCA</span></a></li>
          <li><a href="{%url 'PCAScores'%}"><span>Prorcess Records</span></a></li>
          <li><a href="{%url 'logout'%}"><span>Logout</span></a></li>

        </ul>
      </div>
      <div class="clr"></div>
     {%block contents%}
     {%endblock%}
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c2">
      </div>
      <div class="col c3">
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Copyright &copy; <a href="#">Alex Corporation</a>. All Rights Reserved</p>
      <p class="rf">Design by <a target="_blank" href="#">Alex</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
</body>
</html>
